@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import-normalize;

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #0e0f0f;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
